body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

main {
    padding-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 0px;
    width: 100%;
    padding-bottom: 48px;
}

#search-field {
    border: none;
    background-color: inherit;
    color: #c1c1c1;
    font-size: 100px;
    font-weight: bold;
    width: 93%;
}

::placeholder,
h3 {
    color: #c1c1c1;
}

#search-field:hover {
    border: none;
    color: #ec5a62;
    display: inline-block;
}

input {
    outline: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    height: 80px;
    width: 80px;
    background: url(img/magnifier.svg);
    outline: none;
}

button:hover {
    transform: scale(1.2);
    transition: all .2s ease-in;
}

.column {
    display: inline-block;
    width: 30%;
}

.blank-space {
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 4%;
}

ul {
    position: relative;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    position: relative;
    background-color: #ebebed;
    width: 100%;
    padding: 0;
    margin: 5px 0 0 0; 
    height: 80px;
    border-radius: 8px;
}

li img {
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.avatar {
    border-radius: 50%;
}

li h4 {
    display: inline-block;
    position: relative;
    width: calc(100%-70px);
    margin: 0;
    padding-left: 70px;
    padding-top: 30px;
    font-size: 90%;
}

li a {
    color: #b5b5b7;
    display: block;
    height: 100%;
}

li:hover a {
    color: #ec5a62;
}

li:hover {
    background-color: #e4e4e6;
}

