body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}
/* #c1c1c1 */
main {
    padding-top: 48px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 0px;
    width: 100%;
}

#search-field {
    border: none;
    background-color: inherit;
    color: #c1c1c1;
    font-size: 80px;
    font-weight: bold;
    width: 90%;
}

::placeholder,
h3 {
    color: #c1c1c1;
}

#search-field:hover {
    border: none;
    color: #ec5a62;
    display: inline-block;
}

input {
    outline: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    position: absolute;
    height: 80px;
    width: 80px;
    background: transparent url(img/magnifier.svg);
    /* float: right; */
    /* transition: all .3s ease-out; */
}

.column {
    display: inline-block;
    background-color: white;
    width: 33%;
    padding-top: 40px;
}

