body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
}

.main {
    background-color: #3398cc;
    border: 20px solid #2b80ac;
    margin: 0;
    height: 96.2vh;
}

main {
    width: 70%;
    padding: 0;
    margin-left:  auto;
    margin-right: auto;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 0px;
    border: 3px solid white;
    background-color: white;
}

ul:hover li {
    opacity: 0.6;
}

li:hover {
    opacity: 1.0 !important;
}

li {
    display: inline-block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    height: 150px;
    border: 3px solid white;
    font-size: 24px;
}

.half {
    width: 50%;
}

.full {
    width: 100%;
}

li > p {
    text-align: center;
    bottom: 20px;
    margin-top: 28px;
}

.footer > p {
    padding-top: 30px;
    font-weight: bolder;
}

.lisbon {
    background-color: #3398cc;
}

.paris {
    background-color: #39cccc;
}

.belgrade {
    background-color: #996598;
}

.moscow {
    background-color: #c24646;
}

.tel-aviv {
    background-color: #e2674a;
}

.cairo {
    background-color: #fccc66;
}

.new-york {
    background-color: #99cc99;
}

.new-dehli {
    background-color: #669998;
}

.san-francisco {
    background-color: #cc6698;
}

.tokyo {
    background-color: #339866;
}

.sydney {
    background-color: #656599;
}